@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Inter:wght@400;700&family=Nunito+Sans:wght@400;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --backgroundColor: #00022D;
  --backgroundColorLight: #000450;
  --textColorLight: #AFB9FA;
  --textColorDark: #222222;
  --title: #464BDC;
  --textBtnColor: #E4E5F9;
  --btnColor: #3D43BC;
}

body {
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

