.container {
  background-color: var(--backgroundColor);
  padding: 1.25rem 1rem;
  overflow-x: hidden;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 480px;
}

.header {

}

.logo {
  width: 7.5rem;
  height: 5rem;
  
}

.socialBtns {
  display: flex;
  justify-content: space-between;
}

