.container {
  background-color: var(--backgroundColor);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.main {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 7.5rem;
  height: 5rem;
}

.intro h1 {
  font-size: 3.375rem;
  font-weight: bold;
  color: var(--textColorWhite);
  line-height: 120%;
  letter-spacing: 2%;
  text-align: center;
  margin: 0 1rem;
}

.vadym_about {
  position: relative;
  max-width: 100%;
  width: 375px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.vadym_foto {
  width: 343px;
  object-fit: cover;
}

.wave_icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 12px;
  right: 18px; 
}

.intro_heading, .intro_name {
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 2%;
  color: var(--title);
}

.intro_heading {
  font-size: 4rem;
  margin-top: -3rem;
}

.intro_name {
  font-size: 2.625rem;
}

.intro_subheading {
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 2%;
  color: var(--textColorLight);
  margin: 1.5rem 0;
}

.action_text {
  text-transform: uppercase;
  font-size: 2.625rem;
  font-weight: bold;
  font-style: italic;
  line-height: 150%;
  letter-spacing: 2%;
  color: var(--textColorLight);
}

.intro_focus {
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 2%;
  color: var(--textColorLight);
  margin-bottom: 1.5rem;
}

.intro_description {
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--textColorWhite);
}


/* .subscribe_container {
  display: flex;
  border: 1px solid var(--btnColor); 
  border-radius: 8px;
  overflow: hidden;
}

.subscribe_container input {
  border: none;
  outline: none;
  padding: 10px 15px;
  flex: 1;
  font-size: 16px;
  color: var(--textColorWhite);
  background-color: var(--backgroundColorLight); 
}

.subscribe_container input::placeholder {
  color: var(--smallTextColor); 
}

.subscribe_container button {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: var(--textColorWhite);
  background-color: var(--btnColor); 
  cursor: pointer;
}

.subscribe_container button:hover {
  background-color: #6069ff; 
}
 
.termsOfUse {
  font-family: 'Figtree', 'Catamaran', sans-serif;
  font-size: 0.75rem;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--smallTextColor);
}

.substack {
  color: var(--smallTextColor);
} */